{% extends "base.html" %}

{% block title %}notifications{% endblock title %}

{% block search %}none{% endblock search %}

{% block body %}

<div class="container-fluid my-3" style="max-width : 850px;">
    <div class="d-flex justify-content-between align-items-center px-3 my-2">
        <h2>Notifications</h2>
        {% if notifications.count %}
        <i class="fas fa-ellipsis-vertical" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;"></i>
        <ul class="dropdown-menu">
            <li>
                <form action="{% url 'notificationDelete' %}" method="POST">
                    {% csrf_token %}
                    <button class="dropdown-item pe-auto" type="submit">
                        <i class="fas fa-trash mx-2"></i> Clear all
                    </button>
                </form>
            </li>
        </ul>
        {% endif %}
    </div>
    
    <!--notifications to show-->
    {% if notifications.count %}
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col col-lg-9 col-xl-7 w-100">
            <div class="card card-body" style="border-radius:10px;">
                {% for notify in notifications %}
                <a href="{{notify.link}}" class="text-dark text-decoration-none my-1 ">
                {% if notify.status == 1 %}
                <div class="h-50 py-4 px-3 text-break bg-black text-white" style="border-radius:8px;">{{notify.description}}</div>
                {% else %}
                <div class="h-50 py-4 px-3 text-break bg-light" style="border-radius:8px;">{{notify.description}}</div>
                {% endif %}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <!--switch pages-->
    <div class="d-flex justify-content-center">
        <span class="d-flex align-items-center">
            {% if notifications.has_previous %}
                <a class="link-opacity-50 link-opacity-100-hover link-dark link-underline-opacity-10 link-underline-opacity-75-hover" href="?page=1">&laquo;</a>
                <a class="link-opacity-50 link-opacity-100-hover link-dark link-underline-opacity-10 link-underline-opacity-75-hover mx-2" href="?page={{ notifications.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="mx-2">
                Page {{ notifications.number }} of {{ notifications.paginator.num_pages }}.
            </span>
    
            {% if notifications.has_next %}
                <a class="link-opacity-50 link-opacity-100-hover link-dark link-underline-opacity-10 link-underline-opacity-75-hover mx-2" href="?page={{ notifications.next_page_number }}">next</a>
                <a class="link-opacity-50 link-opacity-100-hover link-dark link-underline-opacity-10 link-underline-opacity-75-hover" href="?page={{ notifications.paginator.num_pages }}">&raquo;</a>
            {% endif %}
        </span>
    </div>

    {% else %}
    <h6 class="text-center my-5">no notifications to show</h6>
    {% endif %}
</div>

{% endblock body %}