{% extends "base.html" %}

{% block title %}Contact{% endblock title %}

{% block contactactive %} active {% endblock contactactive %}

{% block search %}none{% endblock search %}

{% block body %}
<div class="container-fluid my-3" style="max-width: 1000px;" >
    <h3 class="mb-4">Contact weLog Admin</h3>
    <form method = "POST" action="{% url 'contact' %}">
        {% csrf_token %}
        {% if user.is_authenticated %}
        {% else %}
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name"  name = "name" aria-describedby="name" pattern = ".*\S+.*" required trim>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" name = "email" id="email" aria-describedby="emailHelp" required trim>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        {% endif %}
        <div class="mb-3">
          <label for="content" class="form-label">Describe your issue:</label>
          <textarea class="form-control" name="content" id="content" cols="30" rows="7" pattern = ".*\S+.*" trim required></textarea>
        </div>
        
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
</div>
{% endblock body %}