{% extends "base.html" %}

{% block title %}blogPost{% endblock title %}

{% block blogactive %} active {% endblock blogactive %}

{% block search %}flex{% endblock search %}

{% block searchquery %}query{% endblock searchquery %}

{% block searchholder %}Blogs{% endblock searchholder %}

{% block searchloc %}{% url 'searchBlog' %}{% endblock searchloc %}

{% block body %}
{% load humanize %}
{% load extras %}

<!--blog post content-->
<div class="container-fluid my-3 mb-5" style="max-width: 1000px;">
    <h1 class="blog-post-title">{{post.title}}</h1>
    <div class="d-flex justify-content-between align-items-center px-2">
        <p class="blog-post-meta mb-0">{{post.timeStamp}} by <a class="link-opacity-75 link-underline-opacity-0 link-underline-opacity-100-hover link-dark link-opacity-100-hover" 
            href={% url 'authorProfile' post.user.username %}>{{post.user.username}}</a></p> 
        <div class="d-flex align-items-center">
            <i class="fa fa-eye ms-3 me-2"></i><p class="mb-0"></p>{{post.viewcount.all.count}}
            <i class="fa fa-thumbs-up ms-3 me-2"></i><p class="mb-0" id="like-cnt">{{post.likes.all.count}}</p>
            <i class="fa fa-thumbs-down ms-3 me-2"></i><p class="mb-0" id="dislike-cnt">{{post.dislikes.all.count}}</p>
        </div>
    </div>
    <p class="text-break" >{{post.content|safe}}</p>
    <hr>
</div>

<!--blog post comments-->
<div class="container-fluid" style="max-width: 1000px;">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Comments ({{comments.count}})</h2>
        {% if user.is_authenticated %}
        <div class="d-flex align-items-center me-2">
            {% csrf_token %}
            <a class="me-3" id="like-btn" style="color:black;">
                <i id="like-icn" class="fa 
                {% if like %}
                fa-thumbs-up
                {% else %}
                fa-thumbs-o-up 
                {% endif %}
                " aria-hidden="true" style="font-size:24px; cursor: pointer;" data-post={{post.slug}}></i>
            </a>
            
            <a class="ms-3" id="dislike-btn" style="color:black;">
                <i id="dislike-icn" class="fa 
                {% if dislike %}
                fa-thumbs-down
                {% else %}
                fa-thumbs-o-down 
                {% endif %}
                " aria-hidden="true" style="font-size:24px; cursor: pointer;" type="button" data-post={{post.slug}} onclick="Dislike(this)"></i>
            </a>
        </div>
        {% endif %}
    </div>
    <div class="my-2">
        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'postComment' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="comment" class="form-label">Post Comment</label>
                <input type="text" class="form-control" name="comment" id="comment" placeholder="Enter comment here"
                    pattern=".*\S.*" trim required>
                <input type="hidden" name="parentSno" value="">
            </div>
            <input type="hidden" name="postSlug" value={{post.slug}}>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
        {% else %}
        <p>Please login to like and comment</p>
        {% endif %}
    </div>
    {% for comment in comments %}
    <div class="row my-3">
        <div class="col-2 col-sm-2 col-md-1">
            {% if comment.user.userprofile.avatar %}
            <div class="mt-2 d-flex align-items-center justify-content-center bg-white"
                style=" z-index: 1; height: 60px !important; width: 60px !important; border-radius: 50% !important;">
                <img class="rounded mx-auto p-1" src={{comment.user.userprofile.avatar.url}}
                    style="z-index: 1; height:inherit !important; width:inherit !important; border-radius: 50% !important;"
                    alt="user">
            </div>
            {% else %}
            <div class="mt-2 d-flex align-items-center justify-content-center"
                style=" z-index: 1; height: 60px !important; width: 60px !important; border-radius: 50%;">
                <img class="rounded mx-auto p-3" src="/static/img/user.png"
                    style="z-index: 1; height:inherit !important; width:inherit !important; object-fit: contain !important; border-radius: 4%;"
                    alt="user">
            </div>
            {% endif %}
        </div>
        <div class="col-10 col-sm-10 col-md-11 pt-2">
            <a href={% url 'authorProfile' comment.user.username %} role="button" class="text-black text-decoration-none"><b>{{comment.user.username}}</b></a> <span class="badge bg-secondary">{{comment.timestamp|naturaltime}}</span>
            <div class="my-2 text-break" id="{{comment.slug}}">{{comment.comment}}</div>
            <div class="reply mx-0">
                <p class="d-inline-flex gap-1">
                    {% if user.is_authenticated %}
                    <button class="btn btn-dark btn-sm mb-1" type="button" data-bs-toggle="collapse"
                    data-bs-target="#replyBox{{comment.sno}}" aria-expanded="false" aria-controls="replyBox{{comment.sno}}">
                    Reply
                    </button>
                    {% endif %}
                    {% if comment.sno in replyDict %}
                    <button class="btn btn-link btn-sm text-decoration-none text-dark fw-bold fs-6 dropdown-toggle" type="button" data-bs-toggle="collapse" 
                        data-bs-target="#replies{{comment.sno}}" aria-expanded="false" aria-controls="replies{{comment.sno}}">
                        <span class="caret"></span> Replies
                    </button>
                    {% endif %}
                </p>

                <div class="collapse" id="replyBox{{comment.sno}}">
                    <div class="mt-1">
                        <form method="POST" action="{% url 'postComment' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="comment" class="form-label">Post Reply</label>
                                <input type="text" class="form-control" name="comment" id="comment"
                                    placeholder="Enter reply here" pattern=".*\S.*" trim required>
                                <input type="hidden" name="parentSno" value={{comment.sno}}>
                            </div>
                            <input type="hidden" name="postSlug" value={{post.slug}}>
                            <button type="submit" class="btn btn-dark btn-sm">Submit</button>
                        </form>
                    </div>
                </div>

                <!--comment replies-->
                <div class="collapse" id = "replies{{comment.sno}}">
                    {% for reply in replyDict|get_val:comment.sno  %}
                    <div class="row my-3">
                        <div class="col-2 col-sm-2 col-md-1">
                            {% if reply.user.userprofile.avatar %}
                            <div class="mt-2 d-flex align-items-center justify-content-center bg-white"
                                style=" z-index: 1; height: 50px !important; width: 50px !important; border-radius: 50% !important;">
                                <img class="rounded mx-auto p-1" src={{reply.user.userprofile.avatar.url}}
                                    style="z-index: 1; height:inherit !important; width:inherit !important; border-radius: 50% !important;"
                                    alt="user">
                            </div>
                            {% else %}
                            <div class="mt-2 d-flex align-items-center justify-content-center"
                                style=" z-index: 1; height: 50px !important; width: 50px !important; border-radius: 50%;">
                                <img class="rounded mx-auto p-3" src="/static/img/user.png"
                                    style="z-index: 1; height:inherit !important; width:inherit !important; object-fit: contain !important; border-radius: 4%;"
                                    alt="user">
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-10 col-sm-10 col-md-11 pt-2">
                            <a href={% url 'authorProfile' reply.user.username %} role="button" class="text-black text-decoration-none"><b>{{reply.user.username}}</b></a> <span class="badge bg-secondary">{{reply.timestamp|naturaltime}}</span>
                            <div class="my-2 text-break" id="{{reply.comment.slug}}">{{reply.comment}}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div> 
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock body %}

{% block js %}
<script src="/static/blog_post.js"></script>
{% endblock js %}