{% extends "base.html" %}

{% block title %}blogHome{% endblock title %}

{% block blogactive %} active {% endblock blogactive %}

{% block search %}flex{% endblock search %}

{% block searchquery %}query{% endblock searchquery %}

{% block searchholder %}Blogs{% endblock searchholder %}

{% block searchloc %}{% url 'searchBlog' %}{% endblock searchloc %}

{% block js %}
<script>
    let previews = document.getElementsByClassName('preview');
    Array.from(previews).forEach((element)=>{
        element.innerHTML = element.innerText;
    })
</script>
{% endblock js %}

{% block body %}
<div class="container-fluid my-3" style="max-width: 1000px;">
    <h2>Acticles on weLog</h2>
    {% for post in allPosts %}
    <div class="row g-0 border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-dark">Article by {{post.user.username}}</strong>
            <h3 class="mb-0"><a class="text-decoration-none text-dark" href={% url 'blogPost' post.slug %}>{{post.title}}</a></h3>
            <div class="mb-1 text-muted">{{post.timeStamp}}</div>
            <p class="card-text mb-auto"><div class="preview">{{post.description|truncatechars:500}}</div></p>
            <div class="my-2">
                <a href={% url 'blogPost' post.slug %} role="button" class="btn btn-dark">Continue reading</a>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}