{% extends "base.html" %}

{% block title %}blogHome{% endblock title %}

{% block blogactive %} active {% endblock blogactive %}

{% block search %}flex{% endblock search %}

{% block searchquery %}query{% endblock searchquery %}

{% block searchholder %}Blogs{% endblock searchholder %}

{% block searchloc %}{% url 'searchBlog' %}{% endblock searchloc %}

{% block body %}
<div class="container-fluid my-3" style="max-width: 1000px;">

    <!-- sortby options -->
    <div class="d-flex justify-content-between align-items-center pe-2">
        <h2>Blogs on weLog</h2>
    
        <i class="fa fa-sort" aria-hidden="true" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;"></i>
        <ul class="dropdown-menu">
            <li>
                <a href={% url 'sortBy' 1 %} class="dropdown-item pe-auto text-decoration-none text-dark" role="button">
                    <i class="fas fa-eye ms-2 me-3"></i> veiws
                </a>
            </li>
            <li>
                <a href={% url 'sortBy' 2 %} class="dropdown-item pe-auto text-decoration-none text-dark" role="button">
                    <i class="fas fa-thumbs-up ms-2 me-3"></i> likes
                </a>
            </li>
            <li>
                <a href={% url 'sortBy' 3 %} class="dropdown-item pe-auto text-decoration-none text-dark" role="button">
                    <i class="fas fa-fire ms-2 me-3"></i> latest
                </a>
            </li>
        </ul>
    </div>

    <!-- posts -->
    {% for post in allPosts %}
    <div class="row g-0 border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative img-fluid">
        {% if post.avatar %}
        <div class="my-4 ms-3 d-flex align-items-center justify-content-center bg-black" style="height: 200px !important; width: 300px !important; border-radius: 6px;">
            
            <img src={{post.avatar.url}}
                alt="/static/img/user.png" class="img-fluid"
                style="z-index: 1; height:inherit !important; width:inherit !important; object-fit: contain !important; border-radius: 6px;">
            
        </div>
        {% endif %}
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-dark">Article by {{post.user.username}}</strong>
            <h3 class="mb-0"><a class="text-decoration-none text-dark" href={% url 'blogPost' post.slug %}>{{post.title}}</a></h3>
            <div class="mb-1 text-muted">{{post.timeStamp}}</div>
            <div class="text-break">{{post.description|truncatechars:500}}</div>
            <div>
                <i class="fas fa-eye ms-1 me-2"></i>{{post.viewcount.all.count}}
                <i class="fas fa-thumbs-up ms-3 me-2"></i>{{post.likes.all.count}}
            </div>
            <div class="my-2">
                <a href={% url 'blogPost' post.slug %} role="button" class="btn bg-black text-white">Continue reading</a>

            </div>
        </div>
    </div>
    {% endfor %}

    <!--switch pages-->
    <div class="d-flex justify-content-center">
        <span class="d-flex align-items-center">
            {% if allPosts.has_previous %}
                <a class="link-opacity-50 link-opacity-100-hover link-dark link-underline-opacity-10 link-underline-opacity-75-hover mx-2" href="?page=1">&laquo;</a>
                <a class="link-opacity-50 link-opacity-100-hover link-dark link-underline-opacity-10 link-underline-opacity-75-hover mx-1" href="?page={{ allPosts.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="mx-2">
                Page {{ allPosts.number }} of {{ allPosts.paginator.num_pages }}.
            </span>
    
            {% if allPosts.has_next %}
                <a class="link-opacity-50 link-opacity-100-hover link-dark link-underline-opacity-10 link-underline-opacity-75-hover mx-1" href="?page={{ allPosts.next_page_number }}">next</a>
                <a class="link-opacity-50 link-opacity-100-hover link-dark link-underline-opacity-10 link-underline-opacity-75-hover mx-2" href="?page={{ allPosts.paginator.num_pages }}">&raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock body %}