{% extends "base.html" %}

{% block title %}blogPost{% endblock title %}

{% block body %}
<div class="container my-3">
    <h2 class="blog-post-title">{{post.title}}</h2>
    <p class="blog-post-meta">{{post.timeStamp}} by <a href="#">{{post.author}}</a></p>

    <p>{{post.content}}</p>
    <hr>

</div>

<div class="container">
    <h2>Comments :</h2>
    <div class="row my-3">
        <div class="col-md-2 bg-primary">Image here</div>
        <div class="col-md-10 bg-success"> <b>Nitish Rao</b> says this is the best website i have seen</div>
    </div>
    <div class="row my-3">
        <div class="col-md-2 bg-primary">Image here</div>
        <div class="col-md-10 bg-success"> <b>Nitish Rao</b> says this is the best website i have seen</div>
    </div>
    <div class="row my-3">
        <div class="col-md-2 bg-primary">Image here</div>
        <div class="col-md-10 bg-success"> <b>Nitish Rao</b> says this is the best website i have seen</div>
    </div>
    <div class="row my-3">
        <div class="col-md-2 bg-primary">Image here</div>
        <div class="col-md-10 bg-success"> <b>Nitish Rao</b> says this is the best website i have seen</div>
    </div>
    <div class="row my-3">
        <div class="col-md-2 bg-primary">Image here</div>
        <div class="col-md-10 bg-success"> <b>Nitish Rao</b> says this is the best website i have seen</div>
    </div>
</div>
{% endblock body %}