<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} {% endblock title %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
            crossorigin="anonymous" referrerpolicy="no-referrer"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>

        <!--navbar-->
        <nav class="navbar navbar-expand-xxl sticky-top navbar-dark bg-black py-1">
            <div class="container-fluid">
                <a class="navbar-brand fs-3 mx-3 pb-2 mb-1" href={% url 'home' %}>weLog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item mx-3 pb-1">
                            <a class="nav-link {% block homeactive %}{% endblock homeactive %}" aria-current="page"
                            href={% url 'home' %}>Home</a>
                        </li>
                        <li class="nav-item mx-3 pb-1">
                            <a class="nav-link {% block youactive %}{% endblock youactive %}" aria-current="page"
                                href={% url 'profilePage' %}>You</a>
                        </li>
                        <li class="nav-item mx-3 pb-1">
                            <a class="nav-link {% block blogactive %}{% endblock blogactive %}" href={% url 'blogHome' %}>Blog</a>
                        </li>
                        <li class="nav-item mx-3 pb-1">
                            <a class="nav-link {% block authoractive %}{% endblock authoractive %}"
                                href={% url 'accounts' %}>UA</a>
                        </li>
                        <li class="nav-item mx-3 pb-1">
                            <a class="nav-link {% block contactactive %}{% endblock contactactive %}"
                                href={% url 'contact' %}>Contact</a>
                        </li>
                    </ul>
                    <form method="GET" action="{% block searchloc %} {% endblock searchloc %}" style="display : {% block search %}{% endblock search %};"
                        role="search">
                        <input class="form-control me-2" type="search" placeholder="{% block searchholder %} {% endblock searchholder %}" aria-label="Search"
                            name="{% block searchquery %} {% endblock searchquery %}" id="search">
                        <button class="btn btn-outline-dark me-2 text-white" type="submit">Search</button>
                    </form>
                    {% if user.is_authenticated %}
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown ps-2 pe-3">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Welcome {{request.user}}
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item my-1" href={% url 'notificationPage' %}>Notifications</a>
                                <a id="userpassreset" class="dropdown-item my-1" role="button" data-bs-toggle="modal"
                                    data-bs-target="#passresetModal">Reset Password</a>
                                <a class="dropdown-item my-1" href={% url 'handleLogout' %}>Logout </a>
                            </div>
                        </li>
                    </ul>
                    {% else %}
                    <!-- Button to trigger SignUp modal -->
                    <button type="button" class="btn btn-dark me-2" data-bs-toggle="modal" data-bs-target="#loginModal">
                        login
                    </button>
                    <!-- Button to trigger SignUp modal -->
                    <button id="signupmodaltrigger" type="button" class="btn btn-dark" data-bs-toggle="modal"
                        data-bs-target="#signupModal">
                        sign up
                    </button>
                    {% endif %}
                </div>
            </div>
        </nav>

        <!--messages to display-->
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} mb-0 alert-dismissible fade show" role="alert">
            <strong>Message : </strong> {{ message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}

        <!-- Sign UP Modal -->
        <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true"
            data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="signupModalTitle">SignUp here</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <form action="{% url 'checker' %}" method="POST" id="signupForm-1">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="fname" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="fname" name="fname" placeholder="first name"
                                minlength="1" pattern=".*\S+.*" trim required>
                        </div>
                        <div class="mb-3">
                            <label for="lname" class="form-label">last Name</label>
                            <input type="text" class="form-control" id="lname" name="lname" placeholder="last name"
                                minlength="1" pattern=".*\S+.*" trim required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="name@example.com" required>
                        </div>
                        <div class="mb-2">
                            <label for="desc" class="form-label">Profile description</label>
                            <textarea class="form-control" name="desc" id="desc" cols="30" rows="7"></textarea>
                        </div>
                        <button id="sub-signup-1" type="button" class="btn btn-dark my-2" onclick="send_otp2()">Submit</button>
                        <a id="selfclick-2" data-bs-toggle="modal" data-bs-target="#createOtpVerifModal" hidden></a>
                    </form>
                    </div>
                </div>
            </div>
        </div>

        <!--signup otp verification madal-->
        <div class="modal fade" id="createOtpVerifModal" tabindex="-1" aria-labelledby="createOtpVerifModal"
            aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="createOtpVerifModalTitle">OTP validation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="otp-verif-form">
                            <div id="otpblock" style="display : block;">
                                <div class="mb-2">
                                    <label for="signup-otp" class="form-label">OTP</label>
                                    {% csrf_token %}
                                    <input type="text" class="form-control" id="signup-otp" name="signup-otp"
                                        placeholder="Enter your OTP" pattern="^\S+$" minlength="6" maxlength="6" required>
                                </div>
                                <div class="my-1" id="countdown-2"></div>
                                <button class="btn btn-dark mb-2" onclick="otp_verify()">Submit</button>
                            </div>
                            <button class="btn btn-dark mb-2" id="createsubbutton2" style="display : none;"
                                onclick="send_otp2()">Resend OTP</button>
                            <div style="display: none;" id="invalidtext-2">
                                <p class="text-danger">invalid OTP</p>
                            </div>
                            <a id="selfclick-3" data-bs-toggle="modal" type="button" data-bs-target="#createUserModal" hidden></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--sign Up Modal-2-->
        <div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModal" aria-hidden="true"
            data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="createUserModalTitle">Create User</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'handleSignup' %}" method="POST" id="myForm">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="createusername" class="form-label">Username</label>
                                <input type="text" class="form-control" id="createusername" name="createusername"
                                    placeholder="choose a unique username" pattern="^\S+$" minlength="3" maxlength="10"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label for="createpass1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="createpass1" name="createpass1"
                                    placeholder="Choose your password" pattern="^\S+$" minlength="8" maxlength="15"
                                    required>
                                <div id="passHelp" class="form-text">your password should atleat be of length 8 and
                                    contain atleast one
                                    uppercase,
                                    one lowercase, one special character and one number</div>
                            </div>
                            <div class="mb-3">
                                <label for="createpass2" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="createpass2" name="createpass2"
                                    placeholder="Enter your password again" pattern="^\S+$" minlength="8" maxlength="15"
                                    required>
                            </div>
                            <button id="subcreateuser" type="button" class="btn btn-dark my-2"
                                onclick="submituser()">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Login Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true"
            data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="loginModalTitle">Login here</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'handleLogin' %}" method='POST'>
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="loginusername" name="loginusername"
                                    placeholder="Enter your username" pattern="^\S+$" minlength="3" maxlength="10"
                                    required>
                            </div>
                            <div class="mb-2">
                                <label for="pass" class="form-label">Enter a Password</label>
                                <input type="password" class="form-control" id="loginpassword" name="loginpassword"
                                    placeholder="Enter your password" pattern="^\S+$" minlength="8" maxlength="15"
                                    required>
                                <div class="text-end mt-2">
                                    <a class="link-opacity-75 link-underline-opacity-0 link-underline-opacity-100-hover link-dark link-opacity-100-hover"
                                        role="button" id="forgetpass" data-bs-toggle="modal"
                                        data-bs-target="#otpverifModal">Forgot Password</a>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark mb-2">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- logged out otp verification Modal -->
        <div class="modal fade" id="otpverifModal" tabindex="-1" aria-labelledby="otpverifModal" aria-hidden="true"
            data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="otpverifModalTitle">OTP validation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="otp-verif-form">
                        <div class="mb-2">
                            <label for="resemail" class="form-label">Email</label>
                            {% csrf_token %}
                            <input type="email" class="form-control" id="resemail" name="resemail"
                                placeholder="Enter your email which is registered with us" required>
                        </div>
                        <button class="btn btn-dark mb-3" id="sendotp">Send OTP</button>
                        <div class="my-2" id="invalid-email"></div>
                        <div class="mb-2" id="otpdiv" style="display : none;">
                            <label for="pass" class="form-label">OTP</label>
                            <input type="text" class="form-control" id="resotp" name="resotp"
                                placeholder="Enter your OTP" minlength="6" maxlength="6">
                        </div>
                        <div class="my-1" id="countdown" style="display : none;"></div>
                        <button class="btn btn-dark mb-2" id="subbutton" style="display : none;">Submit</button>
                        <div style="display: none;" id="invalidtext">
                            <p class="text-danger">invalid OTP</p>
                        </div>
                        <a id="selfclick" data-bs-toggle="modal" data-bs-target="#passresetModal" hidden></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- password reset Modal -->
        <div class="modal fade" id="passresetModal" tabindex="-1" aria-labelledby="passresetModal" aria-hidden="true"
            data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="passresetModalTitle">Password Reset</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'passwordReseter' %}" method='POST' id="PrForm">
                            {% csrf_token %}
                            <div style="display : none" id="curr-password">
                                <div class="mb-3">
                                    <label for="useroldpass" class="form-label">Current Password</label>
                                    <input type="password" class="form-control" id="useroldpass" name="useroldpass"
                                        placeholder="Enter you current password" pattern="^\S+$" minlength="8"
                                        maxlength="15" aria-describedby="passHelp" required>
                                </div>
                                <div class="mb-3 mt-4">
                                    <hr>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="respass1" class="form-label">New Password</label>
                                <input type="password" class="form-control" id="respass1" name="respass1"
                                    placeholder="Choose your password" pattern="^\S+$" minlength="8" maxlength="15"
                                    aria-describedby="passHelp" required>
                                <div id="passHelp" class="form-text">your password should atleat be of length 8 and
                                    contain atleast one
                                    uppercase, one lowercase, one special character and one number</div>
                            </div>
                            <div class="mb-3">
                                <label for="respass2" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="respass2" name="respass2"
                                    placeholder="Enter your password again" pattern="^\S+$" minlength="8" maxlength="15"
                                    required>
                            </div>
                            <button type="button" class="btn btn-dark mb-2" onclick="setAction()">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% block body %}
        {% endblock body %}

    </body>

    {% block js %}
    {% endblock js %}

    <script src="/static/anonymous_password_reset.js"></script>
    <script src="/static/password_verifier.js"></script>
    <script src="/static/new_user_signup.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>

</html>